body{
  background-color: black;
  color: azure;
  counter-reset: listNumber;
}
section{
  /* border: 5px solid white; */
  margin-bottom: 5%;
}
main{
  /* border: 5px solid white; */
  background-color: slateblue;
}
h1{
  border: 10px solid white;
  text-align: center;
  font-size: 4em;
  padding: 10px;
  margin: 5%;
}
h2{
  display: inline;
  font-size: 2em;
  /* border: 5px solid white; */
}
p{
  /* border: 5px solid white; */
  
}
ul {
  list-style: disc;
  list-style-position: inside;
  margin-top: 2%;
  margin-left: 1%;
}
ol li::before{
  counter-increment: listNumber;
  content: counter(listNumber)". ";
}
ol li{
  margin-top: 2%;
}
footer{
  /* border: 5px solid white; */
  text-align: center;
  position: fixed;
  bottom: 0;
  font-weight: bold;
}