body{
  background-color: black;
    color: azure;
}
h1{
  text-align: center;
  font-size: larger;
  font-weight: bold;
  background-color: steelblue;
  padding: 10px;
}
h2{
  font-size: large;
  font-weight: bold;
}
main{
  line-height: 150%;
  background-color: slateblue;

}
footer{
  text-align: center;
  position: fixed;
  bottom: 0;
  font-weight: bold;
}